* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #19191b;
}

.wrapper {
  width: 1070px;
  padding: 30px 0 160px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.button {
  padding: 20px 60px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  background-color: #ff7143;
  font-size: 17px;
  transition: 0.2s;
}

.button:hover {
  background-color: #e2643b;
  cursor: pointer;
}

.logo img {
  width: 200px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  color: #696871;
  font-size: 15px;
}

.menu__item {
  list-style: none;
  position: relative;
}

.menu__item:hover {
  color: #19191b;
  cursor: pointer;
}

.menu__item:hover::after {
  width: 100%;
}

.menu__item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #5454d4;
  transition: 0.4s;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.main__img {
  margin-right: -80px;
}

.main__img img {
  width: 610px;
}

.main__text {
  width: 460px;
}

.main__title {
  font-weight: bold;
  font-size: 80px;
  line-height: 77px;
  margin: 0;
  margin-bottom: 30px;
}

.main__subtitle {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #696871;
  margin-bottom: 50px;
}

.main__button {
  background-color: #5454d4;
}

.main__button:hover {
  background-color: #4646b3;
}

.main__button_download {
  padding: 18px;
  border: 1px solid #E7E7E7;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
}

.main__button_download:hover {
  background-color: #f3f3f3;
}

.main__buttons {
  width: 315px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.companies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.standardBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 85px;
}

.standardBlock__img img {
  width: 350px;
}

.standardBlock__text {
  width: 556px;
}

.standardBlock__title {
  font-size: 50px;
  line-height: 57px;
  margin-bottom: 30px;
}

.standardBlock__subtitle {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #696871;
  margin-bottom: 30px;
}

.standardBlock__link {
  text-decoration: none;
  font-size: 17px;
  line-height: 22px;
  color: #5454d4;
}

.standardBlock_2 {
  margin-bottom: 140px;
}

.advantages {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-bottom: 150px;
}

.advantage {
  max-width: 310px;
  text-align: center;
}

.advantage__img {
  margin-bottom: 7px;
}

.advantage__title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}

.advantage__subtitle {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #696871;
}

.plans__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.plans__title {
  font-size: 60px;
  line-height: 70px;
  width: 540px;
}

.plans__buttons {
  display: flex;
  align-items: center;
  background-color: #f7f7fb;
  padding: 5px;
  border-radius: 10px;
}

.plans__button {
  padding: 20px 40px;
  background-color: #f7f7fb;
  border-radius: 10px 0px 0px 10px;
  border: none;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}

.plans__button_right {
  border-radius: 0px 10px 10px 0px;
}

.plans__button.active {
  color: #ffffff;
  background-color: #5454D4;
}

.plans__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.plan {
  width: 330px;
  text-align: center;
  padding: 34px 22px 27px;
  background-color: #F8F8F8;
  border-radius: 10px;
}

.plan_main {
  background-color: #ff7143;
  padding: 50px 34px 43px;
}

.plan_main .plan__price {
  color: #ffffff;
}

.plan_main .plan__level {
  color: #ffffff;
  opacity: 0.7;
}

.plan_main .plan__spec {
  color: #ffffff;
}

.plan_main .plan__button {
  background-color: #9f3919;
  color: #ffffff;
  border: 2px solid #9f3919;
}

.plan_main .plan__button:hover {
  background-color: #9f3919;
  border: 2px solid #ffffff;
}

.plan__level {
  font-size: 18px;
  line-height: 28px;
  color: #696871;
  margin-bottom: 22px;
}

.plan__price {
  font-size: 60px;
  line-height: 56px;
  color: #1D293F;
  font-weight: bold;
  margin-bottom: 28px;
}

.plan__price span {
  font-size: 28px;
}

.plan__spec {
  font-size: 17px;
  line-height: 50px;
  color: #696871;
  font-family: 'Mulish', sans-serif;
}

.plan__specs {
  margin-bottom: 36px;
}

.plan__button {
  background-color: #ffffff;
  color: #5454d4;
  border: 2px solid #ffffff;
}

.plan__button:hover {
  border: 2px solid #5454d4;
  background-color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 900px;
    overflow: hidden;
  }
  .main__img {
    margin-right: 0;
  }
  .main__img img {
    width: 450px;
  }
  .main__text {
    width: 400px;
  }
  .main__title {
    font-size: 64px;
    line-height: 64px;
  }
  .main__subtitle {
    font-size: 18px;
    line-height: 26px;
  }
  .standardBlock__img img {
    width: 300px;
  }
  .standardBlock__text {
    width: 500px;
  }
  .standardBlock__title {
    font-size: 45px;
    line-height: 50px;
  }
  .standardBlock__subtitle {
    font-size: 18px;
    line-height: 27px;
  }
  .standardBlock__link {
    font-size: 16px;
    line-height: 20px;
  }
  .advantage {
    max-width: 260px;
  }
  .advantage__title {
    font-size: 20px;
    line-height: 30px;
  }
  .advantage__subtitle {
    font-size: 16px;
    line-height: 24px;
  }
  .plans__title {
    font-size: 50px;
    line-height: 55px;
    width: 500px;
  }
  .plan {
    width: 280px;
    padding: 30px 20px 25px;
  }
  .plan_main {
    padding: 50px 30px 40px;
  }
  .plan__price {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 22px;
  }
  .plan__price span {
    font-size: 25px;
  }
  .plan__spec {
    font-size: 17px;
    line-height: 42px;
  }
  .plan__specs {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    width: 756px;
    overflow: hidden;
  }
  .logo img {
    width: 150px;
  }
  .menu {
    width: 280px;
    font-size: 14px;
  }
  .button {
    padding: 15px 45px;
    font-size: 15px;
  }
  .main__img img {
    width: 360px;
  }
  .main__text {
    width: 340px;
  }
  .main__title {
    font-size: 48px;
    line-height: 48px;
  }
  .main__subtitle {
    font-size: 16px;
    line-height: 22px;
  }
  .main__buttons {
    width: 250px;
  }
  .main__button_download {
    padding: 15px;
  }
  .companies__item img {
    width: 100px;
  }
  .standardBlock__img img {
    width: 250px;
  }
  .standardBlock__text {
    width: 450px;
  }
  .standardBlock__title {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 20px;
  }
  .standardBlock__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .standardBlock__link {
    font-size: 15px;
    line-height: 18px;
  }
  .advantage {
    max-width: 220px;
  }
  .advantage__img img {
    width: 120px;
  }
  .advantage__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .advantage__subtitle {
    font-size: 15px;
    line-height: 20px;
  }
  .plans__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }
  .plans__title {
    font-size: 45px;
    line-height: 50px;
    width: 450px;
  }
  .plan {
    width: 230px;
    padding: 24px 16px 20px;
  }
  .plan_main {
    padding: 40px 24px 32px;
  }
  .plan__price {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .plan__price span {
    font-size: 22px;
  }
  .plan__spec {
    font-size: 16px;
    line-height: 36px;
  }
  .plan__specs {
    margin-bottom: 28px;
  }
}
