*
    margin: 0
    padding: 0
    box-sizing: border-box
body
    margin: 0
    padding: 0
    font-family: 'DM Sans', sans-serif;
    display: flex
    align-items: center
    justify-content: center
    color: #19191b
    // font-family: 'Mulish', sans-serif
.wrapper
    width: 1070px
    padding: 30px 0 160px
.header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 100px
.button
    padding: 20px 60px
    color: #ffffff
    border: none
    border-radius: 10px
    background-color: #ff7143
    font-size: 17px
    transition: 0.2s
    &:hover
        background-color: #e2643b
        cursor: pointer
.logo
    img
        width: 200px
.menu
    display: flex
    justify-content: space-between
    align-items: center
    width: 350px
    color: #696871
    font-size: 15px
    &__item
        list-style: none
        position: relative
        &:hover
            color: #19191b
            cursor: pointer
            &::after
                width: 100%
        &::after
            content: ""
            display: block
            position: absolute
            bottom: -10px
            width: 0
            height: 2px
            background-color: #5454d4
            transition: 0.4s
.main
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 100px
    &__img
        margin-right: -80px
        img
            width: 610px
    &__text
        width: 460px
    &__title
        font-weight: bold
        font-size: 80px
        line-height: 77px
        margin: 0
        margin-bottom: 30px
    &__subtitle
        font-family: 'Mulish', sans-serif
        font-size: 20px
        line-height: 30px
        color: #696871
        margin-bottom: 50px
    &__button
        background-color: #5454d4
        &:hover
            background-color: #4646b3
        &_download
            padding: 18px
            border: 1px solid #E7E7E7
            border-radius: 50%
            background-color: #ffffff
            cursor: pointer
            transition: 0.2s
            &:hover
                background-color: #f3f3f3
    &__buttons
        width: 315px
        display: flex
        align-items: center
        justify-content: space-between
.companies
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 150px
.standardBlock
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 85px
    &__img
        img
            width: 350px
    &__text
        width: 556px
    &__title
        font-size: 50px
        line-height: 57px
        margin-bottom: 30px
    &__subtitle
        font-family: 'Mulish', sans-serif
        font-size: 20px
        line-height: 30px
        color: #696871
        margin-bottom: 30px
    &__link
        text-decoration: none
        font-size: 17px;
        line-height: 22px;
        color: #5454d4
.standardBlock_2
    margin-bottom: 140px
.advantages
    display: flex
    justify-content: space-between
    align-items: top
    margin-bottom: 150px
.advantage
    max-width: 310px
    text-align: center
    &__img
        margin-bottom: 7px
    &__title
        font-size: 24px
        line-height: 36px
        margin-bottom: 20px
    &__subtitle
        font-family: 'Mulish', sans-serif
        font-size: 16px
        line-height: 24px
        color: #696871
.plans
    &__top
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 80px
    &__title
        font-size: 60px
        line-height: 70px
        width: 540px
    &__buttons
        display: flex
        align-items: center
        background-color: #f7f7fb
        padding: 5px
        border-radius: 10px
    &__button
        padding: 20px 40px
        background-color: #f7f7fb
        border-radius: 10px 0px 0px 10px
        border: none
        font-size: 16px
        line-height: 21px
        cursor: pointer
    &__button_right
        border-radius: 0px 10px 10px 0px
    &__button.active
        color: #ffffff
        background-color: #5454D4
    &__bottom
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0px 20px
.plan
    width: 330px
    text-align: center
    padding: 34px 22px 27px
    background-color: #F8F8F8
    border-radius: 10px
    &_main
        background-color: #ff7143
        padding: 50px 34px 43px
        .plan__price
            color: #ffffff
        .plan__level
            color: #ffffff
            opacity: 0.7
        .plan__spec
            color: #ffffff
        .plan__button
            background-color: #9f3919
            color: #ffffff
            border: 2px solid #9f3919
            &:hover
                background-color: #9f3919
                border: 2px solid #ffffff
    &__level
        font-size: 18px
        line-height: 28px
        color: #696871
        margin-bottom: 22px
    &__price
        font-size: 60px
        line-height: 56px
        color: #1D293F
        font-weight: bold
        margin-bottom: 28px
        span
            font-size: 28px
    &__spec
        font-size: 17px
        line-height: 50px
        color: #696871
        font-family: 'Mulish', sans-serif
    &__specs
        margin-bottom: 36px
    &__button
        background-color: #ffffff
        color: #5454d4
        border: 2px solid #ffffff
        &:hover
            border: 2px solid #5454d4
            background-color: #ffffff

@media screen and ( max-width: 1200px )
    .wrapper
        width: 900px
        overflow: hidden
    .main
        &__img
            margin-right: 0
            img
                width: 450px
        &__text
            width: 400px
        &__title
            font-size: 64px
            line-height: 64px
        &__subtitle
            font-size: 18px
            line-height: 26px
    .standardBlock
        &__img
            img
                width: 300px
        &__text
            width: 500px
        &__title
            font-size: 45px
            line-height: 50px
        &__subtitle
            font-size: 18px
            line-height: 27px
        &__link
            font-size: 16px
            line-height: 20px
    .advantage
        max-width: 260px
        &__title
            font-size: 20px
            line-height: 30px
        &__subtitle
            font-size: 16px
            line-height: 24px
    .plans
        &__title
            font-size: 50px
            line-height: 55px
            width: 500px
    .plan
        width: 280px
        padding: 30px 20px 25px
        &_main
            padding: 50px 30px 40px
        &__price
            font-size: 50px
            line-height: 50px
            margin-bottom: 22px
            span
                font-size: 25px
        &__spec
            font-size: 17px
            line-height: 42px
        &__specs
            margin-bottom: 30px